<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ЛК админа</title>
    <link rel="stylesheet" th:href="@{/style/style.css}" text="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body>
<header>
    <div class="container">
        <div class ="row">
            <div class= "col-md-2 text-md-start text-sm-center text-center col-sm-12 col-12">
                <h4>Умный дом</h4>
            </div>
            <div class = "col-md-2 col-sm-12 text-center align-self-center">
                <a th:href="@{/admin/product/add}">Добавить товар </a>
            </div>
            <div class = "col-md-2 col-sm-12 text-center align-self-center">
                <a href="#catalogue">Каталог </a>
            </div>
            <div class = "col-md-2 col-sm-12 text-center align-self-center">
                <a href="#users">Пользователи</a>
            </div>
            <div class = "col-md-2 col-sm-12 text-center align-self-center">
                <a href="#orders">Заказы</a>
            </div>
            <div class = "col-md-2 col-sm-12 text-center align-self-center">
                <form th:action="@{/logOut}" method="POST">
                    <button type="submit">Выйти</button>
                </form>
            </div>
        </div>
    </div>
</header>
<h3>Личный кабинет администратора</h3>
<h4 id="catalogue"> Доступные товары </h4>
<div class="container">
    <div class="row">
        <div class = "col-md cardGrid">
<div th:each="product:${products}" class="card mb-0 mt-0 p-1" style="max-width: 360px; max-height: 700px">
    <div class="card-body">
    <a  th:href="@{/product/info/{id}(id=${product.getId()})}" th:text="${product.getName()}" style="text-decoration: none;font-size: 14px" id="card-name"></a>
        <div class="d-flex justify-content-center align-item-center price" id="card-price">
       <p th:text="${product.getPrice()} + ' руб.'" style="font-weight: bold"></p>
        </div>
        <div class="d-flex justify-content-center align-item-center price" id="card-update">
           <a th:href="@{/admin/product/update/{id}(id=${product.getId()})}" style="text-decoration: none">Изменить</a>
        </div>
        <div class="d-flex justify-content-center align-item-center price" id="card-delete">
        <a th:href="@{/admin/product/delete/{id}(id=${product.getId()})}" style="text-decoration: none">Удалить</a>
        </div>
</div>
</div>
        </div>
        </div>
    </div>
<h4 id="users">Пользователи:</h4>
<div class="container">
    <div class="row">
        <div class = "col-md userGrid">
<div th:each="pers: ${people}" class="card mb-0 mt-0 p-1" style="max-width: 360px; max-height: 700px">
    <div class="user-body">
    <a th:href="@{/admin/person/{id}(id=${pers.getId()})}" th:text="${pers.getSurname()} + ' ' + ${pers.getName()}" style="text-decoration: none;font-size: 14px" id="user-name"></a>
        <div class="d-flex justify-content-center align-item-center price" id="user-role">
            <p th:text="'Права доступа: ' + ${pers.getRole().toString().substring(5)}"></p>
        </div>
        <div class="d-flex justify-content-center align-item-center price" id="user-change">
    <a th:href="@{/admin/person/role/{id}(id=${pers.getId()})}" style="text-decoration: none">Изменить права доступа</a>
        </div>
    </div>
</div>
        </div>
    </div>
</div>
<hr>
<h4 id="orders">Заказы:</h4>
<div th:each="list: ${orders}">
    <a th:href="@{/admin/order/{id}(id=${list.getId()})}" th:text="'Заказ № ' + ${list.getNumber()}" style="text-decoration: none"></a>
    <p th:text="'Статус: ' + ${list.getStatus().getValue()}"></p>
    <a th:href="@{/admin/order/change/{id}(id=${list.getId()})}">Изменить статус</a>
</div>
<br>
<br>
<form th:action="@{/admin/order/search}" th:method="POST">
    <label for="search">Поиск по последним 4 символам заказа</label>
    <input type="text" name="search" id="search">
    <br>
    <button type="submit">Выполнить</button>
</form>
<p>Результаты поиска:</p>
<div th:each="order:${searchOrder}">
    <a th:href="@{/admin/order/{number}(number=${order.getNumber()})}" th:text="'Номер заказа: '+ ${order.getNumber()}"></a>
    <p th:text="'Товар: ' + ${order.getProduct().getName()}"></p>
    <p th:text="'Количество: ' + ${order.getCount()}"></p>
    <p th:text="'Дата создания: ' + ${order.getTime()}"></p>
    <p th:text="'Цена: ' + ${order.getTotalSum()}"></p>
    <p th:text="'Статус: ' + ${order.getStatus().getValue()}"></p>
</div>
<footer>
<form th:action="@{/logOut}" method="POST">
    <button type="submit">Выйти из личного кабинета</button>
</form>
</footer>
</body>
</html>